.home{
    section{
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        video{
            position: absolute;
            top:0;
            left:0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            opacity: 0.8;
            z-index: -10;
        }
        .elements{
            h2{
                font-family: "crenzo";
                color: red;
            }
        }
    }

   
}