$font-path: "../assets";

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

@font-face {
    font-family: "digital-7-mono";
    src: url("#{$font-path}/digital-7-mono.ttf") format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "crenzo";
    src: url("#{$font-path}/crenzo.ttf") format('truetype');
    font-weight: 700;
    font-style: normal;
}