@use '../../sass/colors';
@use '../../sass/fonts';

%digital{
    width: 18%;
    margin: 1rem;
    padding: 0 2rem;
    padding-left: 3rem;
    color: colors.$numbers-color-2;
    text-shadow: desaturate(colors.$numbers-color-2,30%) 1px 0 25px;
    
    letter-spacing: 0.8rem;
    background-color: transparent;
    font-family: "digital-7-mono";
    font-size: 10rem;
    border: none;
    text-align: center;

    //Neumorphism
    border-radius: 20px;
    background: #333333;
    box-shadow: inset 11px 11px 22px #2c2c2c,
                inset -11px -11px 22px #3a3a3a;
}

.stopwatch{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    height: 50vh;
    //Neumorphism
    border-radius: 44px;
    background: #333333;
    box-shadow:  36px 36px 73px #282828,
             -36px -36px 73px #3e3e3e;

    .stopwatch-box{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 2rem;
        width: 100%;
        

        .buttons{
            display: flex;
            button{
                color: desaturate(colors.$numbers-color-2,80%);
                border: none;
                cursor: pointer;
                margin: 2.5rem 2rem;
                padding: 2rem 4rem;
                font-size: 1.5rem;
                font-family: "oswald", "sans-serif";
                letter-spacing: 0.3rem;
                
                border-radius: 117px;
                background: linear-gradient(145deg, #373737, #2e2e2e);
                box-shadow:  20px 20px 40px #272727,
                            -20px -20px 40px #3f3f3f;
                            transition: 0.2s;
    
                &:hover{
                color: desaturate(colors.$numbers-color-2,0%);
                text-shadow: desaturate(colors.$numbers-color-2,30%) 1px 0 35px;
                }
            }
        }

        .numbers{
            @extend %digital;
            min-width: 90%;
            letter-spacing: 0.5rem;
        }
    }
}

