@use '../../sass/colors';
@use '../../sass/fonts';

%digital{
    width: 18%;
    margin: 1rem;
    padding-left: clamp(0.1rem, calc(0.1rem + 3vw),1.4rem);
    color: colors.$numbers-color;
    text-shadow: desaturate(colors.$numbers-color,30%) 1px 0 25px;  
    letter-spacing: 0.8rem;
    background-color: transparent;
    font-family: "digital-7-mono";
    font-size: clamp(1rem, calc(1rem + 8vw), 10rem);
    border: none;
    text-align: center;

    //Neumorphism
    border-radius: 20px;
    background: #333333;
    box-shadow: inset 11px 11px 22px #2c2c2c,
                inset -11px -11px 22px #3a3a3a;
    
    @media (max-width: 768px){
        width: 60%;
    }                     
}

.timer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    height: 50vh;
    //Neumorphism
    border-radius: 44px;
    background: #333333;
    box-shadow:  36px 36px 73px #282828, -36px -36px 73px #3e3e3e;

    @media (max-width: 768px){
    height: 65vh;  
    } 

    .timer-box{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 2rem;
        padding-bottom: 1rem;
        width: 100%;
        
        .inputs{
            display: flex;
            justify-content: center;
            width: 100%;

            @media (max-width: 768px){
                flex-direction: column;
                align-items: center;
            }
            input{
                @extend %digital;
            }
            input[type=number]::-webkit-inner-spin-button,
            input[type=number]::-webkit-outer-spin-button{
                -webkit-appearance: none;
            }
            input[type=number]{
                -moz-appearance: textfield;
            }
        }

        .buttons{
            display: flex;
            @media (max-width: 480px){
                flex-direction: column;
                margin-top: 2.5rem;
            } 
            button{
                color: desaturate(colors.$numbers-color,80%);
                border: none;
                cursor: pointer;
                margin: 2rem 2rem;
                margin-top: 1.5rem;
                padding: 2rem 4rem;
                font-size: 1.5rem;
                font-family: "oswald", "sans-serif";
                letter-spacing: 0.3rem;
                border-radius: 117px;
                background: linear-gradient(145deg, #373737, #2e2e2e);
                box-shadow:  20px 20px 40px #272727,
                            -20px -20px 40px #3f3f3f;
                transition: 0.2s;
    
                &:hover{
                color: desaturate(colors.$numbers-color,0%);
                text-shadow: desaturate(colors.$numbers-color,30%) 1px 0 35px;
                }

                @media (max-width: 768px){
                    margin: 1rem;
                    padding: 1rem 2rem;
                    font-size: 1.3rem;
                }   
                @media (max-width: 480px){
                    margin: 0.1rem;
                    padding: 0.8rem 1.8rem;
                    font-size: 1.1rem;
                } 
            }
        }

        .numbers{
            @extend %digital;
            min-width: 90%;
            letter-spacing: 0.5rem;

            @media (max-width: 480px){
                letter-spacing: 0.2rem;
                min-width: 80%;
                border-radius: 15px;
            }
        }
        p{
            color:#f52d2d;
            text-shadow: desaturate(#db0505,10%) 0px 0 15px;
            font-family: "digital-7-mono";
            font-size: clamp(1rem, calc(1rem + 8vw), 10rem);
            text-align: center;
            margin:0;
            animation: blink 1s infinite ease-in-out;
            @keyframes blink{
                50%{
                    color: desaturate(#f52727, 70%);
                    text-shadow: desaturate(#f52727,90%) 1px 0 0px;
                }
            }
        }
        
        
    }
}

//Common breakpoints for widths of devices:

// 320px — 480px: Mobile devices
// 481px — 768px: iPads, Tablets
// 769px — 1024px: Small screens, laptops
// 1025px — 1200px: Desktops, large screens
// 1201px and more —  Extra large screens, TV
