@use '../../../sass/colors';

.error404{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: colors.$primary;
    h2{
        margin:0;
        font-family: "crenzo";
        font-size: clamp(1.3rem, calc(1rem + 3vw), 4rem);
        color: colors.$secondary;
    }
}