@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap");
@font-face {
  font-family: "digital-7-mono";
  src: url("../assets/digital-7-mono.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "crenzo";
  src: url("../assets/crenzo.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
.navbar {
  position: absolute;
  top: 0;
  right: 0;
}
.navbar ul {
  margin: 2rem;
}
.navbar ul .link {
  margin: 2rem;
  text-decoration: none;
  color: #e4e4e4;
  font-family: "oswald";
  font-size: 1.1rem;
  letter-spacing: 0.3rem;
  transition: 0.3s;
}
.navbar ul .link:hover {
  color: #24ffab;
}

.timer .timer-box .numbers, .timer .timer-box .inputs input {
  width: 18%;
  margin: 1rem;
  padding: 0 2rem;
  padding-left: 3rem;
  color: #24ffab;
  text-shadow: #45dea3 1px 0 25px;
  letter-spacing: 0.8rem;
  background-color: transparent;
  font-family: "digital-7-mono";
  font-size: 10rem;
  border: none;
  text-align: center;
  border-radius: 20px;
  background: #333333;
  box-shadow: inset 11px 11px 22px #2c2c2c, inset -11px -11px 22px #3a3a3a;
}

.timer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80vw;
  height: 50vh;
  border-radius: 44px;
  background: #333333;
  box-shadow: 36px 36px 73px #282828, -36px -36px 73px #3e3e3e;
}
.timer .timer-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  width: 100%;
}
.timer .timer-box .inputs {
  display: flex;
  justify-content: center;
  width: 100%;
}
.timer .timer-box .inputs input[type=number]::-webkit-inner-spin-button,
.timer .timer-box .inputs input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
.timer .timer-box .inputs input[type=number] {
  -moz-appearance: textfield;
}
.timer .timer-box .buttons {
  display: flex;
}
.timer .timer-box .buttons button {
  color: #7ca797;
  border: none;
  cursor: pointer;
  margin: 2.5rem 2rem;
  padding: 2rem 4rem;
  font-size: 1.5rem;
  font-family: "oswald", "sans-serif";
  letter-spacing: 0.3rem;
  border-radius: 117px;
  background: linear-gradient(145deg, #373737, #2e2e2e);
  box-shadow: 20px 20px 40px #272727, -20px -20px 40px #3f3f3f;
  transition: 0.2s;
}
.timer .timer-box .buttons button:hover {
  color: #24ffab;
  text-shadow: #45dea3 1px 0 35px;
}
.timer .timer-box .numbers {
  min-width: 90%;
  letter-spacing: 0.5rem;
}
.timer .timer-box p {
  color: #f52d2d;
  text-shadow: #d01010 0px 0 15px;
  font-family: "digital-7-mono";
  font-size: 10rem;
  margin: 0;
  animation: blink 1s infinite ease-in-out;
}
@keyframes blink {
  50% {
    color: #a67676;
    text-shadow: #8f8d8d 1px 0 0px;
  }
}

.home section {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.home section video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.3;
  filter: grayscale(100%);
  z-index: -10;
}
.home section .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #a0aab8;
  mix-blend-mode: overlay;
  z-index: -10;
}
.home section .elements {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.home section .elements h2 {
  font-family: "crenzo";
  color: #2c2c2c;
  font-size: 8rem;
  margin: 0;
}
.home section .elements p {
  font-family: "crenzo";
  color: #2c2c2c;
  font-size: 2rem;
}
.home section .elements .start-link {
  text-decoration: none;
  border-radius: 50px;
}
.home section .elements .start-link button {
  font-family: "Oswald", sans-serif;
  font-size: 1.3rem;
  font-weight: bold;
  color: #2c2c2c;
  letter-spacing: 0.2rem;
  padding: 0.8rem 3.5rem;
  border: 2px solid #2c2c2c;
  border-radius: 1.5rem;
  background-color: transparent;
  transition: 0.3s;
}
.home section .elements .start-link button:hover {
  color: #e4e4e4;
  background-color: #2c2c2c;
  cursor: pointer;
}

.error404 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #2c2c2c;
}
.error404 h2 {
  margin: 0;
  font-family: "crenzo";
  font-size: 4rem;
  color: #e4e4e4;
}

.timer_page {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #333333;
}
.timer_page section {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

/*# sourceMappingURL=main.css.map */
